<!DOCTYPE html>
<html>
<head>
    <title>My Gym</title>
    <link rel="stylesheet" href="../css/mycss.css">
</head>
<body>
    <header>
        <div class="nav_logo">
            <a href="index.html"><img src="../assets/plantilla-logotipo-fitness-diseno-plano_52683-16840.avif" alt="mancuerna gimnasio" class="logo_img"></a>
            <h1>Fitness Gym</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><span class="navbar_menu_divider"></span></li>
                <li><a href="products.html">Products</a></li>
                <li><span class="navbar_menu_divider"></span></li>
                <li><a href="about_us.html">About us</a></li>
                <li><span class="navbar_menu_divider2"></span></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="about_container">
        <div class="about_div">
            <h1 class="about_h1">Welcome to <span class="highlight">Fitness Gym</span></h1>
            <p>Your premier destination for fitness and wellness.</p>
            <p>At Fitness Gym, we believe that exercise should be enjoyable, empowering, and inclusive for everyone.</p>
        </div>
        <div class="about_div">
            <h2 class="about_h2">Why Choose Us?</h2>
            <ul class="about_ul">
                <li class="about_li"><strong>Expert Trainers:</strong> Our team of certified trainers are passionate about fitness and dedicated to helping you reach your goals.</li>
                <li class="about_li"><strong>Wide Range of Equipment:</strong> Our gym is equipped with a diverse selection of cutting-edge machines and free weights.</li>
                <li class="about_li"><strong>Group Classes:</strong> Join our dynamic group fitness classes led by experienced instructors.</li>
                <li class="about_li"><strong>Wellness Services:</strong> We offer additional wellness services such as nutritional counseling, massage therapy, and relaxation areas.</li>
                <li class="about_li"><strong>Community Atmosphere:</strong> We foster a supportive and friendly community where members can connect and find inspiration.</li>
            </ul>
        </div>
        <div class="about_div">
            <p>Here at Fitness Gym, we strive to create a welcoming and inclusive environment for everyone. Come visit us and experience the difference!</p>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3 class="footer_h3">Contact Us</h3>
                <p>123 Street, City</p>
                <p>fitnessgym@gmail.com</p>
            </div>
            <div class="footer-section">
                <h3 class="footer_section_h3">Quick Links</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about_us.html">Contact</a></li>
                    <li><a href="products.html">Services</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Fitness Gym. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>