<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/mycss.css">
    <title>Fitness Gym</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Home</a>
            <a href="our_routines.html">Our routines</a>
            <a href="products.html">Products</a>
            <a href="about_us.html">About us</a>
            <a href="register.html">Register</a>
        </nav>
    </header>
    <section>
        <div>
            <h1>Nuestra pagina</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut deleniti labore at optio enim quibusdam dolorem iure quod nobis debitis alias, architecto eum sapiente quaerat saepe sit hic soluta aperiam.</p>
        </div>
    </section>
</body>
<footer>

</footer>
</html>