<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta>
    <title>My Gym</title>
    <link rel="stylesheet" href="../css/mycss.css">
<!--     <link rel="stylesheet" href="../css/bootstrap.css"> -->
</head>
<body>
    <header>
        <div class="nav_logo">
            <a href="index.html"><img src="../assets/plantilla-logotipo-fitness-diseno-plano_52683-16840.avif" alt="mancuerna gimnasio" class="logo_img"></a>
            <h1>Fitness Gym</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><span class="navbar_menu_divider"></span></li>
                <li><a href="products.html">Products</a></li>
                <li><span class="navbar_menu_divider"></span></li>
                <li><a href="about_us.html">About us</a></li>
                <li><span class="navbar_menu_divider2"></span></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="hero">
                <a href="register.html" class="cta">Join Now</a>
        </section>
        <section id="classes">
            <h2>Classes</h2>
            <div class="div_main_classes">
                <ul id="accordion">
                    <li>
                        <label for="first">Yoga <span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="first" checked>
                        <div class="content">
                            <img src="" alt="">
                            <p>Yoga is a mind-body practice that originated in ancient India. It combines physical postures, breathing exercises, meditation, and relaxation techniques to promote overall well-being. Yoga is known for its ability to improve flexibility, strength, and balance. It also helps reduce stress, enhance mental clarity, and promote a sense of inner peace. There are various styles of yoga, such as Hatha, Vinyasa, Ashtanga, and Bikram, each with its own focus and intensity level.</p>
                        </div>
                    </li>
                    <li>
                        <label for="second">Pilates <span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="second">
                        <div class="content">
                            <img src="" alt="">
                            <p>Pilates is a low-impact exercise system developed by Joseph Pilates in the early 20th century. It emphasizes core strength, flexibility, and body awareness. Pilates exercises typically target the deep muscles of the abdomen, back, and pelvic floor, while also engaging the limbs. It focuses on controlled movements and proper alignment, using specialized equipment like the Pilates reformer or mat-based exercises. Pilates can help improve posture, increase muscular strength and endurance, and enhance overall body control and coordination.</p>
                        </div>
                    </li>
                    <li>
                        <label for="third">Cardio Kickboxing <span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="third">
                        <div class="content">
                            <img src="" alt="">
                            <p>Cardio kickboxing is a high-energy aerobic workout that combines elements of martial arts, boxing, and traditional cardiovascular exercises. It involves a series of punches, kicks, knee strikes, and cardio-based movements performed in a rhythmic and dynamic manner. Cardio kickboxing helps improve cardiovascular endurance, coordination, and agility, while also burning calories and promoting weight loss. It is a great way to relieve stress, boost energy levels, and enhance overall fitness.</p>
                        </div>
                    </li>
                    <li>
                        <label for="fourth">Zumba <span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="fourth">
                        <div class="content">
                            <img src="" alt="">
                            <p>Zumba is a dance fitness program that incorporates Latin and international music into an exhilarating and fun workout. It combines high-energy dance moves with aerobic exercises, creating a party-like atmosphere. Zumba routines often include various dance styles like salsa, merengue, cumbia, reggaeton, and hip-hop. The choreography is designed to be easy to follow, making it suitable for people of different fitness levels and dance backgrounds. Zumba provides a full-body workout, improves cardiovascular fitness, burns calories, and helps improve coordination and rhythm.</p>
                        </div>
                    </li>
                    <li>
                        <label for="fifth">Spin <span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="fifth">
                        <div class="content">
                            <img src="" alt="">
                            <p>Spin, also known as indoor cycling, is a group exercise class performed on stationary bicycles. Participants pedal to the rhythm of energetic music, following the instructor's cues. Spin classes simulate different cycling terrains, such as hills, sprints, and endurance rides, by adjusting resistance levels on the bike. This workout targets the lower body muscles, including the quadriceps, hamstrings, calves, and glutes, while also providing a cardiovascular challenge. Spin classes are known for their intense calorie-burning potential, cardiovascular conditioning, and leg strength development.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="trainers">
            <h2>Trainers</h2>
            <ul>
                <li>John Smith</li>
                <li>Jane Doe</li>
                <li>Mike Johnson</li>
                <li>Sara Lee</li>
            </ul>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3 class="footer_h3">Contact Us</h3>
                <p>123 Street, City</p>
                <p>fitnessgym@gmail.com</p>
            </div>
            <div class="footer-section">
                <h3 class="footer_section_h3">Quick Links</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about_us.html">Contact</a></li>
                    <li><a href="products.html">Services</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Fitness Gym. All Rights Reserved.</p>
        </div>
    </footer>
    <!-- <footer>
        <p>Copyright 2023 &copy; All Rights Reserved</p>
    </footer> -->
    <script src="../../../script.js"></script>
</body>
</html>