<!DOCTYPE html>
<html>
<head>
    <title>My Gym</title>
    <link rel="stylesheet" href="../css/mycss.css">
</head>
<body>
    <header>
        <div class="nav_logo">
            <a href="index.html"><img src="../assets/plantilla-logotipo-fitness-diseno-plano_52683-16840.avif" alt="mancuerna gimnasio" class="logo_img"></a>
            <h1>Fitness Gym</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about_us.html">About us</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="hero">
                <a href="register.html" class="cta">Join Now</a>
        </section>
        <section id="classes">
            <h2>Classes</h2>
                <ul>
                    <li>Yoga</li>
                    <li>Pilates</li>
                    <li>Cardio Kickboxing</li>
                    <li>Zumba</li>
                    <li>Spin</li>
                </ul>
        </section>
        <section id="trainers">
            <h2>Trainers</h2>
            <ul>
                <li>John Smith</li>
                <li>Jane Doe</li>
                <li>Mike Johnson</li>
                <li>Sara Lee</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; Fitness Gym 2023</p>
    </footer>
    <script src="../../../script.js"></script>
    </body>
</html>