<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/mycss.css">
    <title>Fitness Gym</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Home</a>
        </nav>
    </header>
    <section class="login_section">
        <div>
        <form class="login_form" faction="/register.js" method="GET">
            <input class="input" type="email" placeholder="Email">
            <input class="input" type="password" placeholder="Password">
            <div class="login_form_buttons">
                <button type="submit">Enter</button>
                <button type="submit"> <a class="a_button"href="register.html">Register</a></button>
            </div>
        </form>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3 class="footer_h3">Contact Us</h3>
                <p>123 Street, City</p>
                <p>fitnessgym@gmail.com</p>
            </div>
            <div class="footer-section">
                <h3 class="footer_section_h3">Quick Links</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about_us.html">Contact</a></li>
                    <li><a href="products.html">Services</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Fitness Gym. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>