<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/mycss.css">
    <title>Fitness Gym</title>
</head>
<body>
    <header>
        <div>
            <nav class="navbar">
                <div class="logo"> <a href="index.html"><img src="../assets/plantilla-logotipo-fitness-diseno-plano_52683-16840.avif" alt="mancuerna gimnasio" class="logo_img"></a></div>
                <div>
                    <ul>
                        <li class="li_navbar"><a href="index.html" class="a_navbar">Home</a></li>
                        <li class="li_navbar"><a href="our_routines.html" class="a_navbar">Our routines</a></li>
                        <li class="li_navbar"><a href="products.html" class="a_navbar">Products</a></li>
                        <li class="li_navbar"><a href="about_us.html" class="a_navbar">About us</a></li>
                    </ul>
                </div>
                <div>
                    <button class="register_button"><a href="register.html">Register</a></button>
                </div>
            </nav>
        </div>
    </header>
    <section>
        <div>
            <h1>Curso</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut deleniti labore at optio enim quibusdam dolorem iure quod nobis debitis alias, architecto eum sapiente quaerat saepe sit hic soluta aperiam.</p>
        </div>
    </section>
</body>
<footer>

</footer>
</html>