<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/mycss.css">
    <title>Fitness Gym</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Home</a>
            <a href="our_routines.html">Our routines</a>
            <a href="products.html">Products</a>
            <a href="about_us.html">About us</a>
            <a href="register.html">Register</a>
        </nav>
    </header>
    <section>
        <div>
            <!-- <ul>
                <h1>Pesas</h1>
                <li>Pesa de 5 kg</li>
                <li>Pesa de 10 kg</li>
                <li>Pesa de 20 kg</li>
            </ul> -->
        </div>
    </section>
</body>
<footer>

</footer>
</html>